<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MiniProjekatKlas.KontrolerInterfejsa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MiniProjekatKlas.KontrolerInterfejsa.Properties.Settings>
            <setting name="KontrolerInterfejsa_localhost_Servis" serializeAs="String">
                <value>http://localhost:4036/WebServis/Service.asmx</value>
            </setting>
        </MiniProjekatKlas.KontrolerInterfejsa.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
